################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/cpp/.deps
/cpp/.vs/qr_gen_cpp/v16
/cpp/Debug
